AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31

# More info about Globals: https://github.com/awslabs/serverless-application-model/blob/master/docs/globals.rst
Globals:
  Function:
    Timeout: 5

Resources:
  RemoteFileToS3Distributor:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      CodeUri: bin
      Handler: xlapse-distributor
      Runtime: go1.x
      Tracing: Active # https://docs.aws.amazon.com/lambda/latest/dg/lambda-x-ray.html
      Policies:
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - "lambda:InvokeFunction"
              Resource: !GetAtt RemoteFileToS3Downloader.Arn
            - Effect: Allow
              Action:
                - "s3:GetObject"
              Resource: "*"
      Events:
        ScheduledEvent:
          Type: Schedule
          Properties:
            Schedule: cron(0/10 * * * ? *)
      Environment:
        Variables:
          BUCKET: example-bucket
          KEY: example.csv
          DOWNLOADER_FUNCTION_ARN: !GetAtt RemoteFileToS3Downloader.Arn

  RemoteFileToS3Downloader:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      CodeUri: bin
      Handler: xlapse-downloader
      Runtime: go1.x
      Tracing: Active # https://docs.aws.amazon.com/lambda/latest/dg/lambda-x-ray.html
      Policies:
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - "s3:PutObject"
                - "s3:PutObjectAcl"
              Resource: "*"
      Environment:
        Variables:
          # https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/dynamic-references.html#dynamic-references-secretsmanager
          SENTRY_DSN: !Sub '{{resolve:secretsmanager:Sentry:SecretString:dsn}}'

  RemoteFileToS3GifDistributor:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      CodeUri: bin
      Handler: xlapse-gif-distributor
      Runtime: go1.x
      Tracing: Active # https://docs.aws.amazon.com/lambda/latest/dg/lambda-x-ray.html
      Policies:
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - "lambda:InvokeFunction"
              Resource: !GetAtt RemoteFileToS3GifMaker.Arn
            - Effect: Allow
              Action:
                - "s3:GetObject"
              Resource: "*"
      Events:
        ScheduledEvent:
          Type: Schedule
          Properties:
            Schedule: cron(15 3 * * ? *) # 12:15 pm JST every day
      Environment:
        Variables:
          BUCKET: example-bucket
          KEY: example.csv
          GIF_MAKER_FUNCTION_ARN: !GetAtt RemoteFileToS3GifMaker.Arn

  RemoteFileToS3GifMaker:
    Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
    Properties:
      CodeUri: bin
      Handler: xlapse-gif-maker
      Runtime: go1.x
      MemorySize: 1024 # MB
      Timeout: 180 # seconds
      Tracing: Active # https://docs.aws.amazon.com/lambda/latest/dg/lambda-x-ray.html
      Policies:
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - "s3:ListBucket"
                - "s3:GetObject"
                - "s3:PutObject"
                - "s3:PutObjectAcl"
              Resource: "*"
